<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <h1 class="text-center mb-4">¡Hola, Bienvenido!</h1>
            <div class="list-group">
                <a href="/" class="list-group-item list-group-item-action">Home</a>
                <a href="/products/" class="list-group-item list-group-item-action">Productos</a>
                <a href="/login/" class="list-group-item list-group-item-action">Login</a>
                <a href="/register/" class="list-group-item list-group-item-action">Registrarse</a>
            </div>
        </div>
    </div>
</div>