<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <form action="/api/users/updatepassword/{{token}}" method="POST">
                <div class="mb-3">
                    <label for="newPassword" class="form-label">Nueva contraseña</label>
                    <input type="password" class="form-control" id="newPassword" name="newPassword" required>
                </div>
                <div class="mb-3">
                    <label for="confirmPassword" class="form-label">Confirmar nueva contraseña</label>
                    <input type="password" class="form-control" id="confirmPassword" name="confirmPassword" required>
                </div>
                <button type="submit" class="btn btn-primary">Restablecer contraseña</button>
            </form>
        </div>
    </div>
</div>